# ===========================
# 🌍 GERAL
# ===========================
# Logs e sistema
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log
.DS_Store
Thumbs.db

# Pastas temporárias
tmp/
temp/
.cache/
dist/
build/
.env
.env.dev
.env.production
.env.local
.env.test

# ===========================
# 🖥️ BACKEND
# ===========================
backend-main/node_modules/
backend-main/uploads/
backend-main/package-lock.json
backend-main/.env
backend-main/.env.dev
backend-main/.env.local
backend-main/.env.test
backend-main/npm-debug.log
backend-users/node_modules/
backend-users/uploads/
backend-users/package-lock.json
backend-users/.env
backend-users/.env.dev
backend-users/.env.local
backend-users/.env.test
backend-users/npm-debug.log


# Banco de dados local
/mysql/data/
*.sql

# ===========================
# 💻 FRONTEND
# ===========================
/meu-app/node_modules/
/meu-app/dist/
/meu-app/build/
/meu-app/.env
/meu-app/.env.local
/meu-app/.env.production
/meu-app/.env.development
/meu-app/.env.test

# ===========================
# 🐳 DOCKER
# ===========================
/mysql/data/
**/docker-compose.override.yml
**/docker-compose.local.yml

# ===========================
# 🧪 VARIADOS
# ===========================
.idea/
.vscode/
*.iml
*.swp
*.swo
*.bak
*.tmp
